.postDescription {
  margin-top: 5px;
  text-align: justify;

  .owner {
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
    &:active {
      opacity: 0.4;
    }
  }
}
