.container {
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;

  .photoContainer {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-right: 75px;
    margin-left: 75px;
    background-size: cover;
    border-radius: 50%;
    .photo {
      border: none;
      background-color: inherit;
      outline: none;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .clickable {
      cursor: pointer;
    }
  }

  .userName {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 32px;
  }

  .buttons {
    margin-bottom: 20px;

    .preloader {
      width: 80px;
      height: 13.6px;
      display: inline-block;
    }
  }

  .profileDescription {
    font-size: 20px;
    font-weight: 500;
  }
}

.mainContainer {
  .optionButton {
    display: block;
    cursor: pointer;
    margin: 10px;
  }
  .preloader {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
}
