.postHeader {
  width: 582px;
  height: 27px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e0e0;

  .accountLogo {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-size: cover;
    border-radius: 50%;
    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .accountName {
    width: 550px;
    margin: 0 0 0 16px;
  }

  .owner {
    font-weight: 600;
    cursor: pointer;
    color: black;
  }
  .accountLogo,
  .owner {
    &:active {
      opacity: 0.4;
    }
  }
}
