.logOutButtonContainer {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

.preloaderBackground {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);

  .preloader {
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
