.profilePosts {
    padding-top: 30px;
    border-top: 1px solid #dbdbdb;
    display: flex;
    flex-wrap: wrap;
    horiz-align: center;
}

.zeroPosts {
    font-size: 28px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}