@import "../../fonts/Billabong/style.css";

.headerText {
    font-family: Billabong, sans-serif;
    font-size: 35px;
    padding-top: 10px;
}

.cursorPointer {
    cursor: pointer;
}

.container {
    height: 61px;
    border-bottom: 1px solid #E1E0E0;
    position: fixed;
    top: 0;
    background-color: #FFF;
}

.textField {
    background-color: #FAFAFA;
}
