@import '../../../fonts/Billabong/style';

.container {
  height: 61px;
  border-bottom: 1px solid #e1e0e0;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;

  a {
    color: black;
  }

  .logo {
    cursor: pointer;
    img {
      min-width: 25px;
      margin-top: 5px;
    }
    .separator {
      font-size: 30px;
      margin: auto 15px auto 15px;
      font-family: 'none', serif;
    }
    .headerText {
      font-family: Billabong, sans-serif;
      font-size: 35px;
      padding-top: 10px;
    }
    &:active {
      opacity: 0.5;
    }
  }

  .textField {
    background-color: #fafafa;
  }

  .profileLogo {
    cursor: pointer;
    font-size: 2rem;
    &:active {
      opacity: 0.5;
    }
  }
}
